{% set title = "Index" %}

{% extends "main.tpl" %}

{% block content %}




<!----------------- Scroll-up start ------------------>

    <div class="scroll-up">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
    </div>



<!----------------- Services start ------------------>

	<section id="services" class="section-two">
		<div class="section-two-inner container">
			<div class="box-text">
				
				<div class="box-text-en">
						<h2 class="block-title">This is what I can</h2>
						<div class="block-line"></div>
						<div class="block-subtitle">
							No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.
						</div>
                </div>

                <div class="box-text-ru">
                    <h2 class="block-title">Это то что я могу</h2>
                    <div class="block-line"></div>
                    <div class="block-subtitle">
                        Никто не зажигает лампу, чтобы спрятать ее за дверью: цель света - создать больше света, открыть глаза людям, раскрыть чудеса вокруг.
                    </div>
            </div>
                    
			</div>

			<div class="box-card">

				<div class="box-card-child-first-en" >
                    <div class="iconbox">

                        <div class="iconbox-icon">
                            <i class="fa fa-reddit-alien" aria-hidden="true"></i>
                        </div>
                        <div class="iconbox-text">
                                <h3 class="iconbox-title">Telegram creation of bots</h3>
                                <div class="iconbox-desc">
                                    Do not worry. All that you have lost will return in a different form.
                                </div>
                        </div>
                
                    </div>
    
                    <div class="iconbox">
    
                        <div class="iconbox-icon">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="iconbox-text">
                                <h3 class="iconbox-title">Web Programming</h3>
                                <div class="iconbox-desc">
                                    Do not be afraid of change - otherwise dreams will remain dreams.
                                </div>
                        </div>
                        
                    </div>
                </div>

                <div class="box-card-child-first-ru" >
                    <div class="iconbox">

                        <div class="iconbox-icon">
                            <i class="fa fa-reddit-alien" aria-hidden="true"></i>
                        </div>
                        <div class="iconbox-text">
                                <h3 class="iconbox-title">Создание ботов Telegram</h3>
                                <div class="iconbox-desc">
                                    Не печалься. Все, что ты потерял, -вернется в другой форме.
                                </div>
                        </div>
                
                    </div>
    
                    <div class="iconbox">
    
                        <div class="iconbox-icon">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="iconbox-text">
                                <h3 class="iconbox-title">Веб программирование</h3>
                                <div class="iconbox-desc">
                                    Не бойся перемен - иначе мечты так и останутся мечтами.
                                </div>
                        </div>
                        
                    </div>
                </div>

				<div class="box-card-child-second-en">
                    <div class="iconbox">

                        <div class="iconbox-icon">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                        </div>
                        <div class="iconbox-text">
                                <h3 class="iconbox-title">It Engineering</h3>
                                <div class="iconbox-desc">
                                    The only way to do something is to love very well. What are you doing.
                                </div>
                        </div>
                        
                    </div>
    
                    <div class="iconbox">
    
                        <div class="iconbox-icon">
                            <i class="fa fa-industry" aria-hidden="true"></i>
                        </div>
                        <div class="iconbox-text">
                                <h3 class="iconbox-title">TopLog system Administration in 1C platform</h3>
                                <div class="iconbox-desc">
                                    The way up is hard, but the view is good.
                                </div>
                        </div>
                        
                    </div>
                </div>

                <div class="box-card-child-second-ru">
                    <div class="iconbox">

                        <div class="iconbox-icon">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                        </div>
                        <div class="iconbox-text">
                                <h3 class="iconbox-title">ИТ Инжиниринг</h3>
                                <div class="iconbox-desc">
                                    Единственный способ что-то сделать - это любить очень хорошо. Что делаешь.
                                </div>
                        </div>
                        
                    </div>
    
                    <div class="iconbox">
    
                        <div class="iconbox-icon">
                            <i class="fa fa-industry" aria-hidden="true"></i>
                        </div>
                        <div class="iconbox-text">
                                <h3 class="iconbox-title">Администрирование системы TopLog на платформе 1С</h3>
                                <div class="iconbox-desc">
                                    Путь наверх тяжел, зато вид хорош.
                                </div>
                        </div>
                        
                    </div>
                </div>

			</div> 
		</div>
	</section>



<!----------------- Portfolio start ------------------>

        <section id="portfolio" class="section-tree">

            <div class="section-inner container">
            

                <div class="box-text-en">
    
                        <div class="block-header">
                            <h2 class="block-title">My work</h2>
                            <div class="block-line"></div>
                            <div class="block-subtitle">
                                Without killing laziness in oneself, the dream cannot be achieved.
                            </div>
                        </div>
    
                </div>

                <div class="box-text-ru">
    
                    <div class="block-header">
                        <h2 class="block-title">Моя работа</h2>
                        <div class="block-line"></div>
                        <div class="block-subtitle">
                            Без убийства лени в себе, мечта не может быть достигнута.
                        </div>
                    </div>

                </div>
    
                
                <div class="example" id="templates">
                    <div>

                        <div class="box-cards">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="../../images/051-Halcyon.jpg" alt="">
                                    <div class="overlay-text">
                                        <div class="hover-click">
                                            <a href="#" class="title" id="modal-one">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="imgBox">
                                    <img src="../../images/051-Unity.jpg" alt="">
                                    <div class="overlay-text">
                                        <div class="hover-click">
                                            <a href="" class="title">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-cards">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="../../images/052-Arkana.jpg" alt="">
                                    <div class="overlay-text">
                                        <div class="hover-click">
                                            <a href="#" class="title" id="modal-one">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>

                        <div class="box-cards">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="../../images/055-Pex.jpg" alt="">
                                    <div class="overlay-text">
                                        <div class="hover-click">
                                            <a href="#" class="title" id="modal-one">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-cards" >
                            <div class="card">
                                <div class="imgBox">
                                    <img src="../../images/056-Zet.jpg" alt="">
                                    <div class="overlay-text">
                                        <div class="hover-click">
                                            <a href="#" class="title" id="modal-one">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="imgBox">
                                    <img src="../../images/069-Детский планетарий.jpg" alt="">
                                    <div class="overlay-text">
                                        <div class="hover-click">
                                            <a href="" class="title">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>

        </section>



<!----------------- Skills start ------------------>

        <section id="skills" class="section-four">
            <div class="section-inner container">
                <div class="box-text">
                    <div class="box-text-en">
                        <h2 class="block-title">My Skills</h2>
                        <div class="block-line"></div>
                        <div class="block-subtitle">

                        </div>
                    </div>

                    <div class="box-text-ru">
                        <h2 class="block-title">Мои навыки</h2>
                        <div class="block-line"></div>
                        <div class="block-subtitle">

                        </div>
                    </div>
                </div>

                <div class="skills-en">

                    <div class="skills-box">
                        <div class="text">
                            <h3 class="iconbox-title">TELEGRAM CREATION OF BOTS</h3>
                            <p class="percent">40%</p>
                        </div>
						<div class="box-inner">
                            <span class="bar"><span class="telegramm-bot"></span></span>
                        </div>
                    </div>

                    <div class="skills-box">
                        <div class="text">
                            <h3 class="iconbox-title">WEB PROGRAMMING</h3>
                            <p class="percent">60%</p>
                        </div>
						<div class="box-inner">
                            <span class="bar"><span class="programming"></span></span>
                        </div>
                    </div>

                    <div class="skills-box">
                        <div class="text">
                            <h3 class="iconbox-title">IT ENGINEERING</h3>
                            <p class="percent">90%</p>
                        </div>
						<div class="box-inner">
                            <span class="bar"><span class="it-engineering"></span></span>
                        </div>
                    </div>

                    <div class="skills-box">
                        <div class="text">
                            <h3 class="iconbox-title">TOPLOG SYSTEM ADMINISTRATION IN 1C PLATFORM</h3>
                            <p class="percent">100%</p>
                        </div>
						<div class="box-inner">
                            <span class="bar"><span class="toplog-administration"></span></span>
                        </div>
                    </div>
                </div>

                <div class="skills-ru">

                    <div class="skills-box">
                        <div class="text">
                            <h3 class="iconbox-title">Создание ботов Telegram</h3>
                            <p class="percent">40%</p>
                        </div>
						<div class="box-inner">
                            <span class="bar"><span class="telegramm-bot"></span></span>
                        </div>
                    </div>

                    <div class="skills-box">
                        <div class="text">
                            <h3 class="iconbox-title">ВЕБ-ПРОГРАММИРОВАНИЕ</h3>
                            <p class="percent">60%</p>
                        </div>
						<div class="box-inner">
                            <span class="bar"><span class="programming"></span></span>
                        </div>
                    </div>

                    <div class="skills-box">
                        <div class="text">
                            <h3 class="iconbox-title">ИТ ИНЖИНИРИНГ</h3>
                            <p class="percent">90%</p>
                        </div>
						<div class="box-inner">
                            <span class="bar"><span class="it-engineering"></span></span>
                        </div>
                    </div>

                    <div class="skills-box">
                        <div class="text">
                            <h3 class="iconbox-title">TOPLOG СИСТЕМА АДМИНИСТРАЦИЯ В ПЛАТФОРМЕ 1С</h3>
                            <p class="percent">100%</p>
                        </div>
						<div class="box-inner">
                            <span class="bar"><span class="toplog-administration"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>



<!------------------ Hire Me start ------------------->

        <section class="section-five">
            <div class="section-inner">

                <div class="block-en container">
    
                    <div class="text">
                        <h2 class="block-title">ARE YOU READY TO START?</h2>
                        <div class="block-subtitle">
                            I'm available for freelance projects.
                        </div>
                    </div>
    
                    <div class="button">
                        <div>
                            <a href="#contact" class="btn-text">hire me</a>
                        </div>
                    </div>
    
                </div>

                <div class="block-ru container">
    
                    <div class="text">
                        <h2 class="block-title">ВЫ ГОТОВЫ НАЧАТЬ?</h2>
                        <div class="block-subtitle">
                            Я доступен для внештатных проектов.
                        </div>
                    </div>
    
                    <div class="button">
                        <div>
                            <a href="#contact" class="btn-text">найми меня</a>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>



<!--------------- Testimonials start ----------------->

        <section id="testimonials" class="section-six">
            <div class="section-inner-en container">
    
                <div class="block">
                    <div>
                        <h2 class="block-title">What my partners say</h2>
                        <div class="block-line"></div>
                        <div class="block-subtitle">
                            Fear is the main source of superstition, and one of the main sources of cruelty. To conquer fear is the beginning of wisdom.
                        </div>
                    </div>
                </div>
                <div class="block-two">
                    <div id="partners" class="partners">
                        <div class="partner-one">
                            <blockquote>
                              <p>It was a pleasure to work with Mirjalol. He knew exactly what I wanted, and created an awesome site.</p>
                              <footer> Khumoyun Inayatov </footer>
                            </blockquote>
                            <img src="../../images/partner-1.jpg" alt="client-1">
                        </div>
                        <!-- <div class="partner-two" style="transition: opacity 700ms ease 0s;">
                            <blockquote>
                              <p>I'm really happy with the results. Get 100% satisfaction is difficult but Alex got it without problems.</p>
                              <footer>Jane Doe</footer>
                            </blockquote>
                            <img src="../../images/052-Arkana.jpg" alt="client-2">
                        </div> -->
        
                        <!-- <span class="cbp-qtprogress" style="transition: width 8000ms linear 0s; width: 100%;"></span> -->
                    </div>		
        
                </div>
            </div>

            <div class="section-inner-ru container">
    
                <div class="block">
                    <div>
                        <h2 class="block-title">Что говорят мои партнеры</h2>
                        <div class="block-line"></div>
                        <div class="block-subtitle">
                            Страх - главный источник суеверий и один из главных источников жестокости. Победить страх - это начало мудрости.
                        </div>
                    </div>
                </div>
                <div class="block-two">
                    <div id="partners" class="partners">
                        <div class="partner-one">
                            <blockquote>
                              <p>Было приятно работать с Миржалолом. Он точно знал, чего я хотел, и создал потрясающий сайт.</p>
                              <footer> Khumoyun Inayatov </footer>
                            </blockquote>
                            <img src="../../images/partner-1.jpg" alt="client-1">
                        </div>
                        <!-- <div class="partner-two" style="transition: opacity 700ms ease 0s;">
                            <blockquote>
                              <p>I'm really happy with the results. Get 100% satisfaction is difficult but Alex got it without problems.</p>
                              <footer>Jane Doe</footer>
                            </blockquote>
                            <img src="../../images/052-Arkana.jpg" alt="client-2">
                        </div> -->
        
                        <!-- <span class="cbp-qtprogress" style="transition: width 8000ms linear 0s; width: 100%;"></span> -->
                    </div>		
        
                </div>
            </div>
        </section>


{% endblock %}